In [2]:
import pandas as pd
import numpy as np

import pytz
import astral as ast
from astral import LocationInfo
from astral.sun import sun
from datetime import datetime, timedelta, date

In [3]:
# read in with pandas
winter1 = pd.read_csv ('mtp20-21data.txt')
winter2 = pd.read_csv ('mtp21-22data.txt')
winter3 = pd.read_csv ('mtp22-23data.txt')

In [4]:
# rename columns
winter1 = winter1.rename(columns = {'valid': 'datetime', 'p01m': 'precip(mm)'})
winter2 = winter2.rename(columns = {'valid': 'datetime', 'p01m': 'precip(mm)'})
winter3 = winter3.rename(columns = {'valid': 'datetime', 'p01m': 'precip(mm)'})

# datetime format
winter1['datetime'] = pd.to_datetime(winter1['datetime'])
winter2['datetime'] = pd.to_datetime(winter2['datetime'])
winter3['datetime'] = pd.to_datetime(winter3['datetime'])

In [5]:
# mask out days without precipitation
codes = ['GR','GS','IC','PL','PY','RA','SG','SH','SN','SQ','TS','UP']

mask1 = winter1['wxcodes'].apply(lambda x: any(sub in x for sub in codes))
mask2 = winter2['wxcodes'].apply(lambda x: any(sub in x for sub in codes))
mask3 = winter3['wxcodes'].apply(lambda x: any(sub in x for sub in codes))

precip_days1 = winter1[mask1]
precip_days2 = winter2[mask2]
precip_days3 = winter3[mask3]

In [6]:
precip_days2

Empty DataFrame
Columns: [station, datetime, precip(mm), wxcodes]
Index: []

In [7]:
# replace Trace with 0.0001
precip_days1['precip(mm)'] = precip_days1['precip(mm)'].replace('T', 0.0001)
precip_days2['precip(mm)'] = precip_days2['precip(mm)'].replace('T', 0.0001)
precip_days3['precip(mm)'] = precip_days3['precip(mm)'].replace('T', 0.0001)

In [8]:
precip_days3[775:785]

Empty DataFrame
Columns: [station, datetime, precip(mm), wxcodes]
Index: []

In [9]:
# make sure numeric form
precip_days1['precip(mm)'] = pd.to_numeric(precip_days1['precip(mm)'])
precip_days2['precip(mm)'] = pd.to_numeric(precip_days2['precip(mm)'])
precip_days3['precip(mm)'] = pd.to_numeric(precip_days3['precip(mm)'])

In [10]:
# eliminate special weather 
precip_days1 = precip_days1[precip_days1['datetime'].dt.minute == 54]
precip_days2 = precip_days2[precip_days2['datetime'].dt.minute == 54]
precip_days3 = precip_days3[precip_days3['datetime'].dt.minute == 54]

In [11]:
precip_days1.dtypes

station               object
datetime      datetime64[ns]
precip(mm)           float64
wxcodes               object
dtype: object

In [12]:
precip_days1['date'] = precip_days1['datetime'].dt.date

In [13]:
mtp = LocationInfo(
    'Montauk' 'New York', 
    latitude= 41.0359,
    longitude= -71.9545, 
    timezone='America/New_York'
)

mtp

LocationInfo(name='MontaukNew York', region='England', timezone='America/New_York', latitude=41.0359, longitude=-71.9545)

In [14]:
# create a date range (winter 1)
date_range1 = pd.date_range(start='2020-12-01', end='2021-2-28', tz='America/New_York')

# lists to store sunrise and sunset times
sunrise_times1 = []
sunset_times1 = []

# Calculate sunrise and sunset for each date
for date in date_range1:
    s = sun(mtp.observer, date=date)
    
    sunrise_times1.append(s['sunrise'])
    sunset_times1.append(s['sunset'])

# df with results
sun_times1 = pd.DataFrame({
    'datetime': date_range1.date,
    'sunrise': sunrise_times1,
    'sunset': sunset_times1
})

sun_times1['sunrise'] = pd.to_datetime(sun_times1['sunrise'])
sun_times1['sunset'] = pd.to_datetime(sun_times1['sunset'])

In [15]:
# create a date range (winter 2)
date_range2 = pd.date_range(start='2021-12-01', end='2022-2-28', tz='America/New_York')

# lists to store sunrise and sunset times
sunrise_times2 = []
sunset_times2 = []

# Calculate sunrise and sunset for each date
for date in date_range2:
    s = sun(mtp.observer, date=date)
    
    sunrise_times2.append(s['sunrise'])
    sunset_times2.append(s['sunset'])

# df with results
sun_times2 = pd.DataFrame({
    'datetime': date_range2.date,
    'sunrise': sunrise_times2,
    'sunset': sunset_times2
})

sun_times2['sunrise'] = pd.to_datetime(sun_times2['sunrise'])
sun_times2['sunset'] = pd.to_datetime(sun_times2['sunset'])

In [16]:
# create a date range (winter 3)
date_range3 = pd.date_range(start='2022-12-01', end='2023-2-28', tz='America/New_York')

# lists to store sunrise and sunset times
sunrise_times3 = []
sunset_times3 = []

# Calculate sunrise and sunset for each date
for date in date_range3:
    s = sun(mtp.observer, date=date)
    
    sunrise_times3.append(s['sunrise'])
    sunset_times3.append(s['sunset'])

# df with results
sun_times3 = pd.DataFrame({
    'datetime': date_range3.date,
    'sunrise': sunrise_times3,
    'sunset': sunset_times3
})

sun_times3['sunrise'] = pd.to_datetime(sun_times3['sunrise'])
sun_times3['sunset'] = pd.to_datetime(sun_times3['sunset'])

In [17]:
# add sunrise and sunset times (winter1)
sun_times1['sunrise'] = sun_times1['sunrise'].dt.strftime('%Y-%m-%d %H:%M:%S')
sun_times1['sunset'] = sun_times1['sunset'].dt.strftime('%Y-%m-%d %H:%M:%S')

sun_times1['date'] = sun_times1['datetime']
sun_times1 = sun_times1.drop(columns=['datetime'])

print(sun_times1)

                sunrise               sunset        date
0   2020-12-01 06:54:11  2020-12-01 16:19:45  2020-12-01
1   2020-12-02 06:55:12  2020-12-02 16:19:31  2020-12-02
2   2020-12-03 06:56:12  2020-12-03 16:19:20  2020-12-03
3   2020-12-04 06:57:10  2020-12-04 16:19:12  2020-12-04
4   2020-12-05 06:58:08  2020-12-05 16:19:05  2020-12-05
..                  ...                  ...         ...
85  2021-02-24 06:29:25  2021-02-24 17:33:05  2021-02-24
86  2021-02-25 06:27:55  2021-02-25 17:34:15  2021-02-25
87  2021-02-26 06:26:25  2021-02-26 17:35:25  2021-02-26
88  2021-02-27 06:24:54  2021-02-27 17:36:35  2021-02-27
89  2021-02-28 06:23:22  2021-02-28 17:37:44  2021-02-28

[90 rows x 3 columns]

In [18]:
# add sunrise and sunset times (winter2)

sun_times2['sunrise'] = sun_times2['sunrise'].dt.strftime('%Y-%m-%d %H:%M:%S')
sun_times2['sunset'] = sun_times2['sunset'].dt.strftime('%Y-%m-%d %H:%M:%S')

sun_times2['date'] = sun_times2['datetime']
sun_times2 = sun_times2.drop(columns=['datetime'])

print(sun_times2)

                sunrise               sunset        date
0   2021-12-01 06:53:57  2021-12-01 16:19:48  2021-12-01
1   2021-12-02 06:54:58  2021-12-02 16:19:34  2021-12-02
2   2021-12-03 06:55:58  2021-12-03 16:19:22  2021-12-03
3   2021-12-04 06:56:56  2021-12-04 16:19:13  2021-12-04
4   2021-12-05 06:57:54  2021-12-05 16:19:06  2021-12-05
..                  ...                  ...         ...
85  2022-02-24 06:29:46  2022-02-24 17:32:47  2022-02-24
86  2022-02-25 06:28:17  2022-02-25 17:33:58  2022-02-25
87  2022-02-26 06:26:47  2022-02-26 17:35:08  2022-02-26
88  2022-02-27 06:25:16  2022-02-27 17:36:18  2022-02-27
89  2022-02-28 06:23:45  2022-02-28 17:37:28  2022-02-28

[90 rows x 3 columns]

In [19]:
# add sunrise and sunset times (winter3)

sun_times3['sunrise'] = sun_times3['sunrise'].dt.strftime('%Y-%m-%d %H:%M:%S')
sun_times3['sunset'] = sun_times3['sunset'].dt.strftime('%Y-%m-%d %H:%M:%S')

sun_times3['date'] = sun_times3['datetime']
sun_times3 = sun_times3.drop(columns=['datetime'])

print(sun_times3)

                sunrise               sunset        date
0   2022-12-01 06:53:42  2022-12-01 16:19:52  2022-12-01
1   2022-12-02 06:54:43  2022-12-02 16:19:37  2022-12-02
2   2022-12-03 06:55:43  2022-12-03 16:19:25  2022-12-03
3   2022-12-04 06:56:42  2022-12-04 16:19:15  2022-12-04
4   2022-12-05 06:57:40  2022-12-05 16:19:07  2022-12-05
..                  ...                  ...         ...
85  2023-02-24 06:30:08  2023-02-24 17:32:30  2023-02-24
86  2023-02-25 06:28:39  2023-02-25 17:33:41  2023-02-25
87  2023-02-26 06:27:09  2023-02-26 17:34:51  2023-02-26
88  2023-02-27 06:25:38  2023-02-27 17:36:01  2023-02-27
89  2023-02-28 06:24:07  2023-02-28 17:37:11  2023-02-28

[90 rows x 3 columns]

In [20]:
# add 'date' column to all dataframes
precip_days1['date'] = precip_days1['datetime'].dt.date
precip_days2['date'] = precip_days2['datetime'].dt.date
precip_days3['date'] = precip_days3['datetime'].dt.date

In [21]:
# merge precip days and sunrise/sunset times on date 
merged1 = pd.merge(precip_days1, sun_times1, on='date')

merged1

Empty DataFrame
Columns: [station, datetime, precip(mm), wxcodes, date, sunrise, sunset]
Index: []

In [22]:
# merge precip days and sunrise/sunset times on date 
merged2 = pd.merge(precip_days2, sun_times2, on='date')

merged2

Empty DataFrame
Columns: [station, datetime, precip(mm), wxcodes, date, sunrise, sunset]
Index: []

In [23]:
# merge precip days and sunrise/sunset times on date 
merged3 = pd.merge(precip_days3, sun_times3, on='date')

merged3

Empty DataFrame
Columns: [station, datetime, precip(mm), wxcodes, date, sunrise, sunset]
Index: []

In [24]:
# filter out only times after sunrise & before sunset 

days1 = merged1[(merged1['datetime'] >= merged1['sunrise']) & (merged1['datetime'] <= merged1['sunset'])]
days2 = merged2[(merged2['datetime'] >= merged2['sunrise']) & (merged2['datetime'] <= merged2['sunset'])]
days3 = merged3[(merged3['datetime'] >= merged3['sunrise']) & (merged3['datetime'] <= merged3['sunset'])]


days1

Empty DataFrame
Columns: [station, datetime, precip(mm), wxcodes, date, sunrise, sunset]
Index: []

In [25]:
# filter out transition hours
days1['sunrise'] = pd.to_datetime(days1['sunrise'])
days1['sunset'] = pd.to_datetime(days1['sunset'])

days1['sunrise+1'] = days1['sunrise'] + timedelta(hours = 1)
days1['sunset-1'] = days1['sunset'] - timedelta(hours = 1)

days1 = days1[days1['datetime'] <= days1['sunset-1']]
days1 = days1[days1['datetime'] >= days1['sunrise+1']]



days2['sunrise'] = pd.to_datetime(days2['sunrise'])
days2['sunset'] = pd.to_datetime(days2['sunset'])

days2['sunrise+1'] = days2['sunrise'] + timedelta(hours = 1)
days2['sunset-1'] = days2['sunset'] - timedelta(hours = 1)

days2 = days2[days2['datetime'] <= days2['sunset-1']]
days2 = days2[days2['datetime'] >= days2['sunrise+1']]



days3['sunrise'] = pd.to_datetime(days3['sunrise'])
days3['sunset'] = pd.to_datetime(days3['sunset'])

days3['sunrise+1'] = days3['sunrise'] + timedelta(hours = 1)
days3['sunset-1'] = days3['sunset'] - timedelta(hours = 1)

days3 = days3[days3['datetime'] <= days3['sunset-1']]
days3 = days3[days3['datetime'] >= days3['sunrise+1']]

In [26]:
days1

Empty DataFrame
Columns: [station, datetime, precip(mm), wxcodes, date, sunrise, sunset, sunrise+1, sunset-1]
Index: []

In [27]:
# find total precip over each year
day_total1 = days1['precip(mm)'].sum()
day_total2 = days2['precip(mm)'].sum()
day_total3 = days3['precip(mm)'].sum()

# total number of obs each year
day_rows1 = days1.shape[0]
day_rows2 = days2.shape[0]
day_rows3 = days3.shape[0]

In [28]:
day_precip_per_hour1 = day_total1/ day_rows1
day_precip_per_hour2 = day_total2/ day_rows2
day_precip_per_hour3 = day_total3/ day_rows3

C:\Users\alyha\AppData\Local\Temp\ipykernel_15524\3440771090.py:1: RuntimeWarning: invalid value encountered in scalar divide
  day_precip_per_hour1 = day_total1/ day_rows1
C:\Users\alyha\AppData\Local\Temp\ipykernel_15524\3440771090.py:2: RuntimeWarning: invalid value encountered in scalar divide
  day_precip_per_hour2 = day_total2/ day_rows2
C:\Users\alyha\AppData\Local\Temp\ipykernel_15524\3440771090.py:3: RuntimeWarning: invalid value encountered in scalar divide
  day_precip_per_hour3 = day_total3/ day_rows3

In [29]:
print('2020-2021:', day_precip_per_hour1)
print('2021-2022:', day_precip_per_hour2)
print('2022-2023:', day_precip_per_hour3)

2020-2021: nan
2021-2022: nan
2022-2023: nan

In [30]:
# filter out only times after sunset & before NEXT sunrise 

nights1 = merged1[(merged1['datetime'] < merged1['sunrise']) | (merged1['datetime'] > merged1['sunset'])]
nights2 = merged2[(merged2['datetime'] < merged2['sunrise']) | (merged2['datetime'] > merged2['sunset'])]
nights3 = merged3[(merged3['datetime'] < merged3['sunrise']) | (merged3['datetime'] > merged3['sunset'])]

nights1

Empty DataFrame
Columns: [station, datetime, precip(mm), wxcodes, date, sunrise, sunset]
Index: []

In [31]:
# filter out transition hours
nights1['sunrise'] = pd.to_datetime(nights1['sunrise'])
nights1['sunset'] = pd.to_datetime(nights1['sunset'])

nights1['sunrise-1'] = nights1['sunrise'] - timedelta(hours = 1) + timedelta(days = 1)
nights1['sunset+1'] = nights1['sunset'] + timedelta(hours = 1)

nights1 = nights1[nights1['datetime'] >= nights1['sunset+1']]
nights1 = nights1[nights1['datetime'] <= nights1['sunrise-1']]



nights2['sunrise'] = pd.to_datetime(nights2['sunrise'])
nights2['sunset'] = pd.to_datetime(nights2['sunset'])

nights2['sunrise-1'] = nights2['sunrise'] - timedelta(hours = 1) + timedelta(days = 1)
nights2['sunset+1'] = nights2['sunset'] + timedelta(hours = 1)

nights2 = nights2[nights2['datetime'] >= nights2['sunset+1']]
nights2 = nights2[nights2['datetime'] <= nights2['sunrise-1']]



nights3['sunrise'] = pd.to_datetime(nights3['sunrise'])
nights3['sunset'] = pd.to_datetime(nights3['sunset'])

nights3['sunrise-1'] = nights3['sunrise'] - timedelta(hours = 1) + timedelta(days = 1)
nights3['sunset+1'] = nights3['sunset'] + timedelta(hours = 1)

nights3 = nights3[nights3['datetime'] >= nights3['sunset+1']]
nights3 = nights3[nights3['datetime'] <= nights3['sunrise-1']]

In [32]:
# find total precip over each year
night_total1 = nights1['precip(mm)'].sum()
night_total2 = nights2['precip(mm)'].sum()
night_total3 = nights3['precip(mm)'].sum()

# total number of obs each year
night_rows1 = nights1.shape[0]
night_rows2 = nights2.shape[0]
night_rows3 = nights3.shape[0]

In [33]:
night_precip_per_hour1 = night_total1/ night_rows1
night_precip_per_hour2 = night_total2/ night_rows2
night_precip_per_hour3 = night_total3/ night_rows3

C:\Users\alyha\AppData\Local\Temp\ipykernel_15524\2704645644.py:1: RuntimeWarning: invalid value encountered in scalar divide
  night_precip_per_hour1 = night_total1/ night_rows1
C:\Users\alyha\AppData\Local\Temp\ipykernel_15524\2704645644.py:2: RuntimeWarning: invalid value encountered in scalar divide
  night_precip_per_hour2 = night_total2/ night_rows2
C:\Users\alyha\AppData\Local\Temp\ipykernel_15524\2704645644.py:3: RuntimeWarning: invalid value encountered in scalar divide
  night_precip_per_hour3 = night_total3/ night_rows3

In [34]:
print('2020-2021:', night_precip_per_hour1)
print('2021-2022:', night_precip_per_hour2)
print('2022-2023:', night_precip_per_hour3)

2020-2021: nan
2021-2022: nan
2022-2023: nan

In [35]:
data = pd.concat([days1, nights1, days2, nights2, days3, nights3])

data['date'] = pd.to_datetime(data['date'])
data['month'] = data['date'].dt.month

data['state'] = 'NY'

data.to_csv('mtp.csv', index=False)