In [14]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
from scipy.stats import pearsonr

In [16]:
# CT
bdl = pd.read_csv('bdl.csv')
bdr = pd.read_csv('bdr.csv')
dxr = pd.read_csv('dxr.csv')
gon = pd.read_csv('gon.csv')
hfd = pd.read_csv('hfd.csv')
hvn = pd.read_csv('hvn.csv')
ijd = pd.read_csv('ijd.csv')
oxc = pd.read_csv('oxc.csv')

# ME
aug = pd.read_csv('aug.csv')
bgr = pd.read_csv('bgr.csv')
bhb = pd.read_csv('bhb.csv')
car = pd.read_csv('car.csv')
fve = pd.read_csv('fve.csv')
hul = pd.read_csv('hul.csv')
iwi = pd.read_csv('iwi.csv')
izg = pd.read_csv('izg.csv')
lew = pd.read_csv('lew.csv')
mlt = pd.read_csv('mlt.csv')
pqi = pd.read_csv('pqi.csv')
pwm = pd.read_csv('pwm.csv')
rkd = pd.read_csv('rkd.csv')
sfm = pd.read_csv('sfm.csv')
wvl = pd.read_csv('wvl.csv')

# MA
ack = pd.read_csv('ack.csv')
aqw = pd.read_csv('aqw.csv')
baf = pd.read_csv('baf.csv')
bed = pd.read_csv('bed.csv')
bos = pd.read_csv('bos.csv')
bvy = pd.read_csv('bvy.csv')
cef = pd.read_csv('cef.csv')
cqx = pd.read_csv('cqx.csv')
ewb = pd.read_csv('ewb.csv')
fit = pd.read_csv('fit.csv')
ghg = pd.read_csv('ghg.csv')
hya = pd.read_csv('hya.csv')
lwm = pd.read_csv('lwm.csv')
mvy = pd.read_csv('mvy.csv')
ore = pd.read_csv('ore.csv')
orh = pd.read_csv('orh.csv')
owd = pd.read_csv('owd.csv')
pvc = pd.read_csv('pvc.csv')
pym = pd.read_csv('pym.csv')

# NH
p1 = pd.read_csv('p1.csv')
afn = pd.read_csv('afn.csv')
con = pd.read_csv('con.csv')
een = pd.read_csv('een.csv')
hie = pd.read_csv('hie.csv')
lci = pd.read_csv('lci.csv')
leb = pd.read_csv('leb.csv')
mht = pd.read_csv('mht.csv')
psm = pd.read_csv('psm.csv')

# RI
bid = pd.read_csv('bid.csv')
pvd = pd.read_csv('pvd.csv')
sfz = pd.read_csv('sfz.csv')
uuu = pd.read_csv('uuu.csv')
wst = pd.read_csv('wst.csv')

# VT
btv = pd.read_csv('btv.csv')
bo = pd.read_csv('bo.csv')
rut = pd.read_csv('rut.csv')
ddh = pd.read_csv('ddh.csv')
mvl = pd.read_csv('mvl.csv')
mpv = pd.read_csv('mpv.csv')
vsf = pd.read_csv('vsf.csv')

In [18]:
#NY
alb = pd.read_csv('alb.csv')
art = pd.read_csv('art.csv')
bgm = pd.read_csv('bgm.csv')
buf = pd.read_csv('buf.csv')
dkk = pd.read_csv('dkk.csv')
dsv = pd.read_csv('dsv.csv')
elm = pd.read_csv('elm.csv')
elz = pd.read_csv('elz.csv')
fok = pd.read_csv('fok.csv')
frg = pd.read_csv('frg.csv')
fzy = pd.read_csv('fzy.csv')
gfl = pd.read_csv('gfl.csv')
gtb = pd.read_csv('gtb.csv')
gvq = pd.read_csv('gvq.csv')
hpn = pd.read_csv('hpn.csv')
hwv = pd.read_csv('hwv.csv')
iag = pd.read_csv('iag.csv')
isp = pd.read_csv('isp.csv')
ith = pd.read_csv('ith.csv')
jfk = pd.read_csv('jfk.csv')
jhw = pd.read_csv('jhw.csv')
jpx = pd.read_csv('jpx.csv')
jrb = pd.read_csv('jrb.csv')
mgj = pd.read_csv('mgj.csv')
mss = pd.read_csv('mss.csv')
msv = pd.read_csv('msv.csv')
nyc = pd.read_csv('nyc.csv')
ogs = pd.read_csv('ogs.csv')
pbg = pd.read_csv('pbg.csv')
peo = pd.read_csv('peo.csv')
pou = pd.read_csv('pou.csv')
ptd = pd.read_csv('ptd.csv')
rme = pd.read_csv('rme.csv')
roc = pd.read_csv('roc.csv') 
slk = pd.read_csv('slk.csv')
syr = pd.read_csv('syr.csv')

In [20]:
data = pd.concat([bdl, bdr, dxr, gon, hfd, hvn, ijd, oxc, bgr, bhb, car, fve, hul, iwi,
                  izg, lew, mlt , pqi, pwm, rkd, sfm, wvl, ack, aqw, baf, bed, bos, bvy, cef, cqx, ewb, fit, ghg, hya, lwm,
                  mvy, ore, orh , owd, pvc, pym, p1, afn, con, een, hie, lci, leb, mht, psm, bid, pvd, sfz, uuu, wst, btv, bo, rut, ddh, mvl, mpv, vsf,
                  alb, art, bgm, buf, dkk, dsv, elm, elz, fok, frg, fzy, gfl, gtb, gvq, hpn, hwv, iag, isp, ith, jfk, jhw, jpx, jrb, mgj,
                  mss, msv, nyc, ogs, pbg, peo, pou, ptd, rme, roc, slk, syr
                 ])

In [22]:
data

,station,datetime,precip(mm),wxcodes,date,sunrise,sunset,sunrise+1,sunset-1,sunrise-1,sunset+1,month,state,hour
0,BDL,2020-12-05 08:51:00,0.2500,-RA BR,2020-12-05,2020-12-05 07:03:50,2020-12-05 16:19:14,2020-12-05 08:03:50,2020-12-05 15:19:14,NaN,NaN,12,CT,NaN
1,BDL,2020-12-05 09:51:00,1.0200,-RA BR,2020-12-05,2020-12-05 07:03:50,2020-12-05 16:19:14,2020-12-05 08:03:50,2020-12-05 15:19:14,NaN,NaN,12,CT,NaN
2,BDL,2020-12-05 10:51:00,3.5600,RA BR,2020-12-05,2020-12-05 07:03:50,2020-12-05 16:19:14,2020-12-05 08:03:50,2020-12-05 15:19:14,NaN,NaN,12,CT,NaN
3,BDL,2020-12-05 11:51:00,4.8300,RA BR,2020-12-05,2020-12-05 07:03:50,2020-12-05 16:19:14,2020-12-05 08:03:50,2020-12-05 15:19:14,NaN,NaN,12,CT,NaN
4,BDL,2020-12-05 12:51:00,3.5600,RA BR,2020-12-05,2020-12-05 07:03:50,2020-12-05 16:19:14,2020-12-05 08:03:50,2020-12-05 15:19:14,NaN,NaN,12,CT,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1168,SYR,2023-02-25 19:54:00,0.7600,SN,2023-02-25,2023-02-25 06:47:37,2023-02-25 17:48:18,NaN,NaN,2023-02-26 05:47:37,2023-02-25 18:48:18,2,NY,NaN
1169,SYR,2023-02-25 20:54:00,0.5100,-SN BR,2023-02-25,2023-02-25 06:47:37,2023-02-25 17:48:18,NaN,NaN,2023-02-26 05:47:37,2023-02-25 18:48:18,2,NY,NaN
1170,SYR,2023-02-25 21:54:00,0.2500,-SN BR,2023-02-25,2023-02-25 06:47:37,2023-02-25 17:48:18,NaN,NaN,2023-02-26 05:47:37,2023-02-25 18:48:18,2,NY,NaN
1171,SYR,2023-02-25 22:54:00,0.2500,-SN BR,2023-02-25,2023-02-25 06:47:37,2023-02-25 17:48:18,NaN,NaN,2023-02-26 05:47:37,2023-02-25 18:48:18,2,NY,NaN
1172,SYR,2023-02-25 23:54:00,0.0001,-SN,2023-02-25,2023-02-25 06:47:37,2023-02-25 17:48:18,NaN,NaN,2023-02-26 05:47:37,2023-02-25 18:48:18,2,NY,NaN

In [48]:
ny_data = data[data['state'] == 'NY']

In [50]:
ny_data

,station,datetime,precip(mm),wxcodes,date,sunrise,sunset,sunrise+1,sunset-1,sunrise-1,sunset+1,month,state,hour
0,ALB,2020-12-01 12:51:00,0.0001,-RA,2020-12-01,2020-12-01 07:06:16,2020-12-01 16:22:04,2020-12-01 08:06:16,2020-12-01 15:22:04,NaN,NaN,12,NY,NaN
1,ALB,2020-12-01 14:51:00,1.0200,-RA,2020-12-01,2020-12-01 07:06:16,2020-12-01 16:22:04,2020-12-01 08:06:16,2020-12-01 15:22:04,NaN,NaN,12,NY,NaN
2,ALB,2020-12-02 13:51:00,0.0001,-SN,2020-12-02,2020-12-02 07:07:19,2020-12-02 16:21:49,2020-12-02 08:07:19,2020-12-02 15:21:49,NaN,NaN,12,NY,NaN
3,ALB,2020-12-05 13:51:00,0.5100,-RA,2020-12-05,2020-12-05 07:10:22,2020-12-05 16:21:15,2020-12-05 08:10:22,2020-12-05 15:21:15,NaN,NaN,12,NY,NaN
4,ALB,2020-12-05 14:51:00,0.2500,-RA,2020-12-05,2020-12-05 07:10:22,2020-12-05 16:21:15,2020-12-05 08:10:22,2020-12-05 15:21:15,NaN,NaN,12,NY,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1168,SYR,2023-02-25 19:54:00,0.7600,SN,2023-02-25,2023-02-25 06:47:37,2023-02-25 17:48:18,NaN,NaN,2023-02-26 05:47:37,2023-02-25 18:48:18,2,NY,NaN
1169,SYR,2023-02-25 20:54:00,0.5100,-SN BR,2023-02-25,2023-02-25 06:47:37,2023-02-25 17:48:18,NaN,NaN,2023-02-26 05:47:37,2023-02-25 18:48:18,2,NY,NaN
1170,SYR,2023-02-25 21:54:00,0.2500,-SN BR,2023-02-25,2023-02-25 06:47:37,2023-02-25 17:48:18,NaN,NaN,2023-02-26 05:47:37,2023-02-25 18:48:18,2,NY,NaN
1171,SYR,2023-02-25 22:54:00,0.2500,-SN BR,2023-02-25,2023-02-25 06:47:37,2023-02-25 17:48:18,NaN,NaN,2023-02-26 05:47:37,2023-02-25 18:48:18,2,NY,NaN
1172,SYR,2023-02-25 23:54:00,0.0001,-SN,2023-02-25,2023-02-25 06:47:37,2023-02-25 17:48:18,NaN,NaN,2023-02-26 05:47:37,2023-02-25 18:48:18,2,NY,NaN