In [1]:
import pandas as pd
import numpy as np

In [2]:
# CT
bdl = pd.read_csv('SO.bdl.csv')
bdr = pd.read_csv('SO.bdr.csv')
dxr = pd.read_csv('SO.dxr.csv')
gon = pd.read_csv('SO.gon.csv')
hfd = pd.read_csv('SO.hfd.csv')
hvn = pd.read_csv('SO.hvn.csv')
ijd = pd.read_csv('SO.ijd.csv')
oxc = pd.read_csv('SO.oxc.csv')

# ME
aug = pd.read_csv('SO.aug.csv')
bgr = pd.read_csv('SO.bgr.csv')
bhb = pd.read_csv('SO.bhb.csv')
car = pd.read_csv('SO.car.csv')
fve = pd.read_csv('SO.fve.csv')
hul = pd.read_csv('SO.hul.csv')
iwi = pd.read_csv('SO.iwi.csv')
izg = pd.read_csv('SO.izg.csv')
lew = pd.read_csv('SO.lew.csv')
mlt = pd.read_csv('SO.mlt.csv')
pqi = pd.read_csv('SO.pqi.csv')
pwm = pd.read_csv('SO.pwm.csv')
rkd = pd.read_csv('SO.rkd.csv')
sfm = pd.read_csv('SO.sfm.csv')
wvl = pd.read_csv('SO.wvl.csv')

# MA
ack = pd.read_csv('SO.ack.csv')
aqw = pd.read_csv('SO.aqw.csv')
baf = pd.read_csv('SO.baf.csv')
bed = pd.read_csv('SO.bed.csv')
bos = pd.read_csv('SO.bos.csv')
bvy = pd.read_csv('SO.bvy.csv')
cef = pd.read_csv('SO.cef.csv')
cqx = pd.read_csv('SO.cqx.csv')
ewb = pd.read_csv('SO.ewb.csv')
fit = pd.read_csv('SO.fit.csv')
ghg = pd.read_csv('SO.ghg.csv')
hya = pd.read_csv('SO.hya.csv')
lwm = pd.read_csv('SO.lwm.csv')
mvy = pd.read_csv('SO.mvy.csv')
ore = pd.read_csv('SO.ore.csv')
orh = pd.read_csv('SO.orh.csv')
owd = pd.read_csv('SO.owd.csv')
pvc = pd.read_csv('SO.pvc.csv')
pym = pd.read_csv('SO.pym.csv')

# NH
p1 = pd.read_csv('SO.p1.csv')
afn = pd.read_csv('SO.afn.csv')
con = pd.read_csv('SO.con.csv')
een = pd.read_csv('SO.een.csv')
hie = pd.read_csv('SO.hie.csv')
lci = pd.read_csv('SO.lci.csv')
leb = pd.read_csv('SO.leb.csv')
mht = pd.read_csv('SO.mht.csv')
psm = pd.read_csv('SO.psm.csv')

# RI
bid = pd.read_csv('SO.bid.csv')
pvd = pd.read_csv('SO.pvd.csv')
sfz = pd.read_csv('SO.sfz.csv')
uuu = pd.read_csv('SO.uuu.csv')
wst = pd.read_csv('SO.wst.csv')

# VT
btv = pd.read_csv('SO.btv.csv')
bo = pd.read_csv('SO.bo.csv')
rut = pd.read_csv('SO.rut.csv')
ddh = pd.read_csv('SO.ddh.csv')
mvl = pd.read_csv('SO.mvl.csv')
mpv = pd.read_csv('SO.mpv.csv')
vsf = pd.read_csv('SO.vsf.csv')

In [3]:
#NY
alb = pd.read_csv('SO.alb.csv')
art = pd.read_csv('SO.art.csv')
bgm = pd.read_csv('SO.bgm.csv')
buf = pd.read_csv('SO.buf.csv')
dkk = pd.read_csv('SO.dkk.csv')
dsv = pd.read_csv('SO.dsv.csv')
elm = pd.read_csv('SO.elm.csv')
elz = pd.read_csv('SO.elz.csv')
fok = pd.read_csv('SO.fok.csv')
frg = pd.read_csv('SO.frg.csv')
fzy = pd.read_csv('SO.fzy.csv')
gfl = pd.read_csv('SO.gfl.csv')
gtb = pd.read_csv('SO.gtb.csv')
gvq = pd.read_csv('SO.gvq.csv')
hpn = pd.read_csv('SO.hpn.csv')
hwv = pd.read_csv('SO.hwv.csv')
iag = pd.read_csv('SO.iag.csv')
isp = pd.read_csv('SO.isp.csv')
ith = pd.read_csv('SO.ith.csv')
jfk = pd.read_csv('SO.jfk.csv')
jhw = pd.read_csv('SO.jhw.csv')
jpx = pd.read_csv('SO.jpx.csv')


jrb = pd.read_csv('SO.jrb.csv')
mgj = pd.read_csv('SO.mgj.csv')
mss = pd.read_csv('SO.mss.csv')
msv = pd.read_csv('SO.msv.csv')
nyc = pd.read_csv('SO.nyc.csv')
ogs = pd.read_csv('SO.ogs.csv')
pbg = pd.read_csv('SO.pbg.csv')
peo = pd.read_csv('SO.peo.csv')
pou = pd.read_csv('SO.pou.csv')
ptd = pd.read_csv('SO.ptd.csv')
rme = pd.read_csv('SO.rme.csv')
roc = pd.read_csv('SO.roc.csv') 
slk = pd.read_csv('SO.slk.csv')
syr = pd.read_csv('SO.syr.csv')

In [4]:
data = pd.concat([bdl, bdr, dxr, gon, hfd, hvn, ijd, oxc, bgr, bhb, car, fve, hul, iwi,
                  izg, lew, mlt , pqi, pwm, rkd, sfm, wvl, ack, aqw, baf, bed, bos, bvy, cef, cqx, ewb, fit, ghg, hya, lwm,
                  mvy, ore, orh , owd, pvc, pym, p1, afn, con, een, hie, lci, leb, mht, psm, bid, pvd, sfz, uuu, wst, btv, bo, rut, ddh, mvl, mpv, vsf,
                  alb, art, bgm, buf, dkk, dsv, elm, elz, fok, frg, fzy, gfl, gtb, gvq, hpn, hwv, iag, isp, ith, jfk, jhw, jpx, jrb, mgj,
                  mss, msv, nyc, ogs, pbg, peo, pou, ptd, rme, roc, slk, syr
                 ])

In [5]:
data

,station,datetime,precip(mm),wxcodes,date,sunrise,sunset,sunrise+1,sunset-1,sunrise-1,sunset+1,month,state
0,BDL,2020-12-05 14:51:00,3.5600,RASN BR,2020-12-05,2020-12-05 07:03:50,2020-12-05 16:19:14,2020-12-05 08:03:50,2020-12-05 15:19:14,NaN,NaN,12,CT
1,BDL,2020-12-14 14:51:00,0.2500,-RAPL,2020-12-14,2020-12-14 07:11:28,2020-12-14 16:19:53,2020-12-14 08:11:28,2020-12-14 15:19:53,NaN,NaN,12,CT
2,BDL,2020-12-17 08:51:00,1.2700,-SN BR,2020-12-17,2020-12-17 07:13:30,2020-12-17 16:20:48,2020-12-17 08:13:30,2020-12-17 15:20:48,NaN,NaN,12,CT
3,BDL,2020-12-17 09:51:00,1.0200,SN BLSN FZFG,2020-12-17,2020-12-17 07:13:30,2020-12-17 16:20:48,2020-12-17 08:13:30,2020-12-17 15:20:48,NaN,NaN,12,CT
4,BDL,2020-12-17 10:51:00,0.5100,-SN BLSN FZFG,2020-12-17,2020-12-17 07:13:30,2020-12-17 16:20:48,2020-12-17 08:13:30,2020-12-17 15:20:48,NaN,NaN,12,CT
...,...,...,...,...,...,...,...,...,...,...,...,...,...
909,SYR,2023-02-25 19:54:00,0.7600,SN,2023-02-25,2023-02-25 06:47:37,2023-02-25 17:48:18,NaN,NaN,2023-02-26 05:47:37,2023-02-25 18:48:18,2,NY
910,SYR,2023-02-25 20:54:00,0.5100,-SN BR,2023-02-25,2023-02-25 06:47:37,2023-02-25 17:48:18,NaN,NaN,2023-02-26 05:47:37,2023-02-25 18:48:18,2,NY
911,SYR,2023-02-25 21:54:00,0.2500,-SN BR,2023-02-25,2023-02-25 06:47:37,2023-02-25 17:48:18,NaN,NaN,2023-02-26 05:47:37,2023-02-25 18:48:18,2,NY
912,SYR,2023-02-25 22:54:00,0.2500,-SN BR,2023-02-25,2023-02-25 06:47:37,2023-02-25 17:48:18,NaN,NaN,2023-02-26 05:47:37,2023-02-25 18:48:18,2,NY
913,SYR,2023-02-25 23:54:00,0.0001,-SN,2023-02-25,2023-02-25 06:47:37,2023-02-25 17:48:18,NaN,NaN,2023-02-26 05:47:37,2023-02-25 18:48:18,2,NY